/.vs
/cjoli.Server/obj
/cjoli.client/obj
/cjoli.Server/bin
/cjoli.Server/appsettings.Development.json
/backup/*
/cjoli.Server_Tests/bin
/cjoli.Server_Tests/obj
/cjoli.client/coverage
/cjoli.Server/Properties/PublishProfiles/CJoli - Zip Deploy.pubxml.user
/cjoli.Server/Properties/PublishProfiles/CJoli - Zip Deploy.pubxml.user
*/node_modules/
/test/expo-router/.yarn/*
/test/expo-router/node_modules/*
/cjoli.client.common/dist/*
/cjoli.client.core/dist/*
