<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/a862ca75-f903-4fdb-ac01-48bb4e1d2651/resourceGroups/MyGroup/providers/Microsoft.ApiManagement/service/cjoliServerapi/apis/cjoliServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/a862ca75-f903-4fdb-ac01-48bb4e1d2651/resourcegroups/MyGroup/providers/Microsoft.Web/sites/cjoliServer</ResourceId>
    <ResourceGroup>MyGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cjoliserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>936f93c7-2066-4d9b-b562-192226862798</ProjectGuid>
    <PublishUrl>https://cjoliserver.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cjoliServer</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>